In [2]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
movies = pd.read_csv("tmdb_5000_movies.csv")

In [3]:
print(movies.shape)
movies.head()

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
movies_df = movies[['id', 'title', 'genres', 'vote_average', 'vote_count']]
movies_df

,id,title,genres,vote_average,vote_count
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124
5,559,Spider-Man 3,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",5.9,3576
6,38757,Tangled,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",7.4,3330
7,99861,Avengers: Age of Ultron,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.3,6767
8,767,Harry Potter and the Half-Blood Prince,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",7.4,5293
9,209112,Batman v Superman: Dawn of Justice,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",5.7,7004
10,1452,Superman Returns,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",5.4,1400
11,10764,Quantum of Solace,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",6.1,2965
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",7.0,5246
13,57201,The Lone Ranger,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",5.9,2311
14,49521,Man of Steel,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.5,6359
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",6.3,1630
16,24428,The Avengers,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",7.4,11776
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",6.4,4948
18,41154,Men in Black 3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",6.2,4160
19,122917,The Hobbit: The Battle of the Five Armies,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.1,4760
20,1930,The Amazing Spider-Man,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.5,6586
21,20662,Robin Hood,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.2,1398
22,57158,The Hobbit: The Desolation of Smaug,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",7.6,4524
23,2268,The Golden Compass,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",5.8,1303
24,254,King Kong,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",6.6,2337
25,597,Titanic,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",7.5,7562
26,271110,Captain America: Civil War,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",7.1,7241
27,44833,Battleship,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",5.5,2114
28,135397,Jurassic World,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.5,8662
29,37724,Skyfall,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.9,7604
...,...,...,...,...,...
4773,2292,Clerks,"[{""id"": 35, ""name"": ""Comedy""}]",7.4,755
4774,42497,Pink Narcissus,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",6.0,9
4775,33693,Funny Ha Ha,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",6.3,8
4776,14585,In the Company of Men,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",6.8,44
4777,185465,Manito,"[{""id"": 18, ""name"": ""Drama""}]",5.5,2
4778,38780,Rampage,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",6.0,131
4779,14022,Slacker,"[{""id"": 35, ""name"": ""Comedy""}]",6.4,77
4780,366967,Dutch Kills,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",0.0,0
4781,255266,Dry Spell,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",6.0,1
4782,17345,Flywheel,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10751, ""n...",6.8,19
4783,226458,Backmask,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",4.7,79
4784,24055,The Puffy Chair,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",6.2,15
4785,287625,Stories of Our Lives,"[{""id"": 18, ""name"": ""Drama""}]",0.0,0
4786,44990,Breaking Upwards,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5.6,12
4787,86304,All Superheroes Must Die,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",4.2,13
4788,692,Pink Flamingos,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",6.2,110
4789,39851,Clean,"[{""id"": 18, ""name"": ""Drama""}]",6.7,17
4790,13898,The Circle,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",6.6,17
4791,157185,Tin Can Man,"[{""id"": 27, ""name"": ""Horror""}]",2.0,1
4792,36095,Cure,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",7.4,63
4793,182291,On The Downlow,"[{""id"": 18, ""name"": ""Drama""}]",6.0,2
4794,286939,Sanctuary: Quite a Conundrum,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",0.0,0
4795,124606,Bang,"[{""id"": 18, ""name"": ""Drama""}]",6.0,1
4796,14337,Primer,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",6.9,658
4797,67238,Cavite,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",7.5,2
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",6.6,238
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5.9,5
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",7.0,6
4801,126186,Shanghai Calling,[],5.7,7
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]",6.3,16

In [5]:
movies_df[['genres']]

                                                 genres
0     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5     [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6     [{"id": 16, "name": "Animation"}, {"id": 10751...
7     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8     [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
10    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
11    [{"id": 12, "name": "Adventure"}, {"id": 28, "...
12    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
13    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
14    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
15    [{"id": 12, "name": "Adventure"}, {"id": 10751...
16    [{"id": 878, "name": "Science Fiction"}, {"id"...
17    [{"id": 12, "name": "Adventure"}, {"id": 28, "...
18    [{"id": 28, "name": "Action"}, {"id": 35, "nam...
19    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
20    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
21    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
22    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
23    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
24    [{"id": 12, "name": "Adventure"}, {"id": 18, "...
25    [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
26    [{"id": 12, "name": "Adventure"}, {"id": 28, "...
27    [{"id": 53, "name": "Thriller"}, {"id": 28, "n...
28    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
29    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...                                                 ...
4773                     [{"id": 35, "name": "Comedy"}]
4774  [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
4775  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
4776  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4777                      [{"id": 18, "name": "Drama"}]
4778  [{"id": 28, "name": "Action"}, {"id": 18, "nam...
4779                     [{"id": 35, "name": "Comedy"}]
4780  [{"id": 53, "name": "Thriller"}, {"id": 80, "n...
4781  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4782  [{"id": 18, "name": "Drama"}, {"id": 10751, "n...
4783  [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
4784  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
4785                      [{"id": 18, "name": "Drama"}]
4786  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4787  [{"id": 878, "name": "Science Fiction"}, {"id"...
4788  [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4789                      [{"id": 18, "name": "Drama"}]
4790  [{"id": 18, "name": "Drama"}, {"id": 10769, "n...
4791                     [{"id": 27, "name": "Horror"}]
4792  [{"id": 80, "name": "Crime"}, {"id": 27, "name...
4793                      [{"id": 18, "name": "Drama"}]
4794  [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
4795                      [{"id": 18, "name": "Drama"}]
4796  [{"id": 878, "name": "Science Fiction"}, {"id"...
4797  [{"id": 10769, "name": "Foreign"}, {"id": 53, ...
4798  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                 []
4802                [{"id": 99, "name": "Documentary"}]

[4803 rows x 1 columns]

In [6]:
from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])

In [7]:
movies_df[['genres']][:1]

                                          genres
0  [Action, Adventure, Fantasy, Science Fiction]

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
movies_df['genre_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))

In [9]:
movies_df[['genre_literal']][:1]

                              genre_literal
0  Action Adventure Fantasy Science Fiction

In [10]:
count_vect = CountVectorizer(min_df = 0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genre_literal'])
print(genre_mat.shape)

(4803, 276)

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim)

[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]
 [0.4472136  0.4        1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [12]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [13]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    
    title_movie=df[df['title']==title_name]
    title_index=title_movie.index.values
    similar_indexes=sorted_ind[title_index, :(top_n)]
    
    print(similar_indexes)
    similar_indexes=similar_indexes.reshape(-1)
   
    return df.iloc[similar_indexes]

In [21]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'McFarland, USA', 10)
similar_movies[['title','vote_average']]

[[1530 2419 1057 2463 2456 2453 2452 3432 4092 2436]]

                                         title  vote_average
1530                                    Flight           6.5
2419                            McFarland, USA           7.4
1057                              Coach Carter           7.3
2463                         The Young Messiah           6.4
2456                               The Verdict           7.4
2453                        Dead Poets Society           8.1
2452                     House of Sand and Fog           7.0
3432  The Work and the Glory II: American Zion           8.0
4092                             Winter's Bone           6.8
2436             Bobby Jones: Stroke of Genius           5.5

In [22]:
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [23]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ((v/(v+m))*R) + ((m/(m+v))*C)

movies_df['weighted_vote']=movies.apply(weighted_vote_average, axis=1)

In [24]:
movies_df[['title', 'vote_average', 'vote_count', 'weighted_vote']].sort_values('weighted_vote', ascending = False)[:10]

                         title  vote_average  vote_count  weighted_vote
1881  The Shawshank Redemption           8.5        8205       8.396052
3337             The Godfather           8.4        5893       8.263591
662                 Fight Club           8.3        9413       8.216455
3232              Pulp Fiction           8.3        8428       8.207102
65             The Dark Knight           8.2       12002       8.136930
1818          Schindler's List           8.3        4329       8.126069
3865                  Whiplash           8.3        4254       8.123248
809               Forrest Gump           8.2        7927       8.105954
2294             Spirited Away           8.3        3840       8.105867
2731    The Godfather: Part II           8.3        3338       8.079586

In [25]:
def find_sim_movie2(df, sorted_ind, title_name, top_n=10):
    
    title_movie=df[df['title']==title_name]
    title_index=title_movie.index.values
    similar_indexes=sorted_ind[title_index, :(top_n)]
    
    print(similar_indexes)
    similar_indexes=similar_indexes.reshape(-1)
    similar_index = similar_indexes[similar_indexes!=title_index]
   
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [26]:
similar_movies = find_sim_movie2(movies_df, genre_sim_sorted_ind, 'McFarland, USA', 10)
similar_movies[['title','vote_average']]

[[1530 2419 1057 2463 2456 2453 2452 3432 4092 2436]]

                                         title  vote_average
2453                        Dead Poets Society           8.1
1057                              Coach Carter           7.3
2419                            McFarland, USA           7.4
4092                             Winter's Bone           6.8
1530                                    Flight           6.5
2456                               The Verdict           7.4
2452                     House of Sand and Fog           7.0
3432  The Work and the Glory II: American Zion           8.0
2463                         The Young Messiah           6.4
2436             Bobby Jones: Stroke of Genius           5.5